name: Android Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Install dependencies
        run: |
          npm install
          npm install @capacitor/android capacitor-v2ray-plugin
      - name: Sync Capacitor
        run: npx cap sync android
      - name: Build Android App
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-vpn-app-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
